extends layout

block css
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='/vendor/bootstrap/css/bootstrap.min.css')
  //- link(rel='stylesheet' href='/node_modules/react-treeview-component/build/react-tree.min.css')
  //- link(rel='stylesheet' href='/node_modules/react-select/dist/default.css')

block content
  //- #test-container
  //- #editor-container.container-fluid
  //-   #project-manager.col-sm-4
  //-   #editor.col-sm-8
  //- #console-container.container-fluid
  //-   #toolbar.row
  //-   #terminal.row
  //- #auth-container.container-fluid
  //- iframe#dowload-iframe(style={display: 'none'})
    
block js
  script(src='build/main.js')
