extends layout

block css
  link(rel='stylesheet' href='vendor/mocha/mocha.css')
    
block content
  div#mocha
    
block js
  script(src='vendor/mocha/mocha.js')
  script.
    mocha.setup('bdd')
  script(src='js/test/project.js')
  script.
    mocha.run()
