/* material-icons setup*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(http://127.0.0.1:3000/node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot) format('eot'));
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(http://127.0.0.1:3000/node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(http://127.0.0.1:3000/node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(http://127.0.0.1:3000/node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* terminal*/
.terminal {
  font-family: monospace;
  padding: 10px;
  padding-bottom: 0;
  font-size: 12px !important;
  background-color: black !important;
  height: 200px;
  /*position: fixed;*/
}

#compile {
  padding-left: 10px;
}

.mid {
  /*height: 200px !important;*/
}

body {
  background-color: #303030 !important;
  /*overflow-x: hidden;*/
}

.toolbar {
  background-color: #424242;
}

#project-manager {
  background-color: #757575;
}

.no-left-padding{
  padding-left: 0 !important;
}

.no-right-padding {
  padding-right: 0 !important;
}

/*a {
  color: #00B7FF;
}

#terminal {
  height: 90px !important;
  background-color: black;
}

.terminal {
  font-family: monospace;
  padding: 10px;
  font-size: 10px !important;
}

#toolbar {
  background-color: gray;
}

#project-manager {
  overflow: scroll;
  height: 500px;
  background-color: wheat;
}

#editor {
  background-color: gray;
}

#console-container {
  margin-top: 10px;
}*/
